<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blank Page</title>

  {% endblock %}
</head>

<body>
  hi
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyDVNqm2LllBoH3j9Ia95bgVhmuOPJv4Jlo",
    authDomain: "tetrad-296715.firebaseapp.com",
    databaseURL: "https://tetrad-296715.firebaseio.com",
    projectId: "tetrad-296715",
    storageBucket: "tetrad-296715.appspot.com",
    messagingSenderId: "420324931104",
    appId: "1:420324931104:web:bb8ea4f5004a1bcdc9ae45",
    measurementId: "G-16EKY0R9Q3"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>

</html>